@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/*=============== DICLEAR VERIABLES ================= */
:root{
    --bg-color:#540f8d;
    --btn-color-white:#4f1ab1;
    --white:#fff;
    --blue: #15172e;
    --btn-white: #ededf3;
    --btn-white-hover: #e1e1ec;
    --btn-blue: #191b33;
    --btn-blue-hover:#1d1f3a;
    --btn-light-hover:#3b3a99;
    --light-blue: #271d7c;
    --icon-black : #000;
    --inp-form-white : #f0f2f3;
    --inp-form-dark : #191b31;
    --inp-form-light : #2f2585;
}

/*=============== MAIN SECTION DESIGN ================= */

.main{
    width:100%;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*=============== CALCULATOR LAYOUT DESIGN ================= */

.center_div{
    position: relative;
    padding: 20px;
    border-radius: 5px;
    width:320px;
}

.content{
    margin-top: 30px;
}

/*=============== DESIGN FOR CALCULATOR BACKGROUND COLOR CHANGES  ================= */


.center_div .menu_btn{
    position: absolute;
    right:20px;
    top:20px;
    font-size: 1.3rem;
    cursor: pointer;
}
.center_div .bgColors{
    position: absolute;
    top:20px;
    right:50px;
    display: inline-block;
    background-color: rgb(217, 222, 236);
    padding:15px;
    border-radius: 5px;
    transform: translateX(20px);
    transition: .4s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}
.bgColors.show{
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}
.bgColors h6{
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    letter-spacing: 1px;
    color:rgb(90, 100, 189);
}
.colors{
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 10px;
}
.colors .color{
    width:14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
}
.colors .blue{
    background-color: var(--blue);
}
.colors .white{
    background-color: var(--white);
}
.colors .light{
    background-color: var(--light-blue);
}


/*================ DESIGN FOR RESENT OR CACHE INPUT ================ */

.input_form{
    padding: 0 5px;
}
.recent_result{
    position: relative;
    width:100%;
    height: 100px;
    
}
.recent_result #result{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-flow: row wrap;
    font-size: 1.2rem;
    font-weight: 700;
}
.recent_result .reset{
    position: absolute;
    left:10px;
    bottom:0;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}
.recent_result .reset.active{
    visibility: visible;
    opacity: 1;
}
.recent_result #result::-webkit-scrollbar{
    width: 0;
}

/*================ DESIGN FOR CALCULATION AREA ================ */


.form-group{
    margin: 0;
}
.form-group #input_field{
    width:100%;
    height: 45px;
    border: none;
    outline: none;
    text-align: right;
    background-color: transparent;
    color:var(--blue);
    font-size: 1rem;
}

/*================ CALCULATOR INPUT BUTTON DESIGN ================ */

.input_btn{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2px;
    margin-top: 20px;
}
.input_btn button{
    height: 45px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    
    transition: .3s;
}

.equal{
    grid-column: span 2;
}



/*==================== CHANGE BACKGROUND WHEN IT'S SELECTED =========================  */


/*==================== CALCULATOR WHITE BACKGROUND ========================= */


.center_div.bg-white{
    background-color: var(--white);
}
.bg-white .menu_btn{
    color: var(--icon-black);
}
.bg-white .input_form{
    background-color: var(--inp-form-white);
}
.bg-white .recent_result{
    background-color: var(--inp-form-white);
    color:var(--blue);
}
.bg-white #input_field{
    color: var(--blue);
}
.bg-white .input_btn button{
    background-color: var(--btn-white);
    color:var(--btn-color-white);
}
.bg-white .input_btn button:hover{
    background-color: var(--btn-white-hover);
}


/*==================== CALCULATOR BLUE BACKGROUND ========================= */

.center_div.bg-blue{
    background-color: var(--blue);
}
.bg-blue .menu_btn{
    color: var(--white);
}
.bg-blue .input_form{
    background-color: var(--inp-form-dark);
}
.bg-blue .recent_result{
    color:var(--white);
}
.bg-blue #input_field{
    color: var(--white);
}
.bg-blue .input_btn button{
    background-color: var(--btn-blue);
    color:var(--white);
}
.bg-blue .input_btn button:hover{
    background-color: var(--btn-blue-hover);
}


/*==================== CALCULATOR LIGHT BLUE BACKGROUND ========================= */


.center_div.bg-light-blue{
    background-color: var(--light-blue);
}
.bg-light-blue .menu_btn{
    color: var(--white);
}
.bg-light-blue .input_form{
    background-color: var(--inp-form-light);
}
.bg-light-blue .recent_result{
    color:var(--white);
}
.bg-light-blue #input_field{
    color: var(--white);
}
.bg-light-blue .input_btn button{
    background-color: var(--inp-form-light);
    color:var(--white);
}
.bg-light-blue .input_btn button:hover{
    background-color: var(--btn-light-hover);
    /* color:#fff; */
}